@charset "ISO-8859-1";

.box {
  position: absolute;
  top: 60%;
  bottom:60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 600px;
  padding: 70px 40px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}

.box input {
  width: 100%;
  margin-bottom: 20px;
}

.box input[type="text"],
.box input[type="text"],
.box input[type="text"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 16px;
}
 
 ::placeholder
{
  color: rgba(255, 255, 255, 0.5);
}

.box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  width:100px;
  color: #eee;
  font-size: 13px;
  background-color:   #a36076;
  cursor: pointer;
  border-radius: 20px;
  margin: 12px 0 18px;
  font-weight: bold;
  text-transform: uppercase;
}
 
.box input[type="reset"]:hover {
  background-color: #ff9719;
  color: #fff;
}
 
 .box input[type="reset"] {
  border: none;
  outline: none;
  height: 40px;
  width:100px;
  color: #eee;
  font-size: 13px;
  background-color:   #a36076;
  cursor: pointer;
  border-radius: 20px;
  margin: 12px 0 18px;
  font-weight: bold;
  text-transform: uppercase;
}
 
.box input[type="submit"]:hover {
  background-color: #ff9719;
  color: #fff;
}

.box input[type="button"] {
  border: none;
  outline: none;
  height: 40px;
  color: #eee;
  font-size: 16px;
  background-color:   #a36076;
  cursor: pointer;
  border-radius: 20px;
  margin: 12px 0 18px;
  font-weight: bold;
  text-transform: uppercase;
}
 
.box input[type="button"]:hover {
  background-color: #ff9719;
  color: #fff;
}
 